@import 'bootstrap'
@import 'trix'

p
  border: 1px 
  &.a
    word-break: normal

p.b
  word-spacing: 30px
h10
  letter-spacing: 0.5px;
p2
  text-align: justify
body
  padding: 20px 50px
.col-sm-10
  padding: 20px 100px
.padding
	padding: 20px 100px
a
  color: #ff8000
  font-family: 'Open Sans', sans-serif
  font-weight: 300
  line-height: 32px
  margin: 0 0 72px
a:hover 
  color: #ffb366
  text-decoration: none
a2
  color: #ccff99